/* ==========================
   Páginas en Desarrollo
========================== */

.coming-soon{

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 30px;
}

.coming-soon h1{

    color: var(--primary);

    margin-bottom: 20px;
}

.coming-soon p{

    max-width: 600px;

    color: var(--text-secondary);

    margin-bottom: 30px;
}